center form{
    background-color: rgba(240, 255, 215, 0.507);
}

center input, input, select{
    background-color: #e0ebce;
    font-size:130%; 
    height: 40px;
    border-radius:20px; 
    width:50%;
}

select{
    background-color: #e0ebce;
    height: 40px;
}

 table{
    align-content: center;
    width: 50%;
}
 table, th , td {
    border: 3px solid rgb(59, 78, 25);
    border-collapse: collapse;
    padding: 5px;
 }
 
 table tr:nth-child(odd) {
    background-color: rgb(192, 219, 184);
    height: 30px;
 }
 table tr:nth-child(even) {
    background-color: #e0ebce;
    height: 30px;
 }
